/*
[Master Stylesheet] 
Project: Pharma Shop Html
-------------------------------------------------------------------*/


/********************************************************
1. body start
 *******************************************************/
:root {
    --grey-color: #a9a7c2;
    --bg-color: #fafcff;
    --theme-color: #228b22;
    --dark-color: #515151;
    --white-color: #ffffff;
    --btn-hover-color:#22b822;        
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: Red Hat Display;    	
	-webkit-font-smoothing: antialiased;
}
html {
  scroll-behavior: smooth;
}
*,*:before,*:after{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
a, a:hover, a:focus{	
	text-transform: capitalize;
	text-decoration: none;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
h1, h2, h3, h4, h5, h6{
	font-family: Red Hat Display;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
	margin:0;
	padding:0;
	text-transform:capitalize;
	word-break: break-word;
}
img {
	max-width: 100%;
}
input, textarea, select, button, label, svg, svg path, svg rect, svg polygon, img, a, :after, :before, :hover, :focus, .form-control:focus{
	outline: none !important;
	box-shadow:none;
}
ul{
	padding:0;
	margin:0;
	list-style-type: none;
}
p {
  margin: 0px;
  word-break: break-word;
}
::-webkit-scrollbar {
    width: 5px;
    height: 3px;
}
/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--theme-color);
}
.container {
    max-width: 1170px;
}
/* button css */
.ps-btn{
    border: 1px solid var(--theme-color);
    max-width: 150px;
    width: 100%;
    background-color: var(--white-color);
    color: var(--theme-color);
    font-size: 16px;    
    padding: 12px 0px;
    border-radius: 40px;
    display: block;
    text-align: center;    
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
}
.ps-btn:before{
	position: absolute;
	content: '';
	background-color: var(--white-color);
	z-index: 1;
	left: 0;
	top: 0;
	bottom: 0;
	border-radius: 40px;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	right: 100%;
}
.ps-btn span {
    position: relative;
    z-index: 1;
    color: var(--theme-color);
}
.ps-btn:hover:before {
    right: 0;
}
/* button css end*/

/* navigation bar css start */
.ps-navigation-wrapper{
    padding: 17px 100px;
}
.ps-main-logo {
    max-width: 250px;
}

.ps-navbar ul {
    text-align: center;
}
.ps-navbar ul li{
    display: inline-block;
}
.ps-navbar ul li a {
    padding: 0 0 32px 30px;
    color: var(--dark-color);
    font-weight: 500;
    transition: all 0.5s;
}
.ps-title.active > span {
    border-bottom: 2px solid var(--theme-color);
}
.ps-navbar ul li a span:hover{
    border-bottom: 2px solid var(--dark-color);
}
.ps-top-header-right ul li a:hover{
    color: var(--theme-color);
}
.ps-navbar ul li i{
    vertical-align: middle;
    padding-left: 10px;
}
.newtag{
    position: relative;
}
.newtagbubble {
    position: absolute;
    color: var(--white-color);
    font-size: 12px;
    font-weight: 400;
    background-color: #ff9333;
    box-shadow: 0px 3px 10px rgb(255 132 23 / 60%);
    padding: 4px 15px;
    border-radius: 15px;
    right: -25px;
    bottom: 25px;
}
.newtagbubble:after {
    content: '';    
    position: absolute;
    top: 18px;
    left: 9px;
    border-left: 18px solid #ff9333;
    border-top: 14px solid transparent;
    transform: rotate(87deg);    
    z-index: -1;
}
/* navigaion bar css end */
/* submenu css start */
.close-button {
    display: none;
}

.dropdown {
    position: static !important;
}

.dropdown1, .dropdown2 {
    margin-bottom: 1.5rem;
}

ul.ps-submenu li.dropdown1 {
    border-right: 1px solid #e8eef6;
}


ul.ps-submenu > li > a:hover {
    color: var(--theme-color);
}
ul.ps-submenu2 > li {
    margin-bottom: 0.5rem;
}

ul.ps-submenu1 {
    display: flex;
}

ul.ps-submenu.active
{
    display: flex;
    transform: translateY(-20px);
    flex-direction: column;
}

ul.ps-submenu {
    justify-content: space-between;
    position: absolute;
    top: 75px;
    background-color: var(--white-color);
    box-shadow: 0 10px 20px rgb(99 149 189 / 30%);
    max-width: 250px;
    width: 100%;
    z-index: 9;
    padding: 20px 0 15px 20px;
    display: none;
    transition: all 0.5s;
}

ul.ps-submenu.active {
    display: block !important;
    transform: translateY(0) !important;
}

ul.ps-submenu1 {
    display: none;
}

ul.ps-submenu1.active {
    display: block;
}
ul.ps-submenu2 > li {
    margin-bottom: 0;
    margin-left: 1rem;
}

ul.ps-submenu1 > li {
    margin-left: 1rem;
}

ul.ps-submenu1 > li > span {
    font-size: 1rem;
    font-weight: 700;
}

ul.ps-submenu {
    padding-bottom: 5px;
    text-align: left; 
}

ul.ps-submenu li {
    text-align: left;
    display: block;
}

ul.ps-submenu > li > a {
    color: var(--dark-color);
    font-size: 1.2rem !important;
}

ul.ps-submenu li a {
    padding: 0 !important;
}

.ps-title > span { 
    font-size: 1.5rem;
}

ul.ps-submenu > li > a {
    padding-left: 0;
    color: var(--dark-color);
    border-bottom: 2px solid var(--theme-color);
    font-weight: 500;
    font-size: 15px;
}

ul.ps-submenu a:hover{
    color: var(--theme-color);
}

.dropdown-icon {
    display: inline-block;
}
/* submenu css end */
/* navigation search css start */
.ps-navigation-header-search {
    width: 100%;
    max-width: 350px;
    margin: auto;
}
.ps-navigation-input {    
    max-width: 350px;    
    position: relative;
}
.ps-navigation-input input {
    padding: 12px 61px 12px 30px;
    border-radius: 40px;
    border: 1px solid #dde3f0;
    background-color: #fbfcff;
    width: 100%;
}
.ps-navigation-input span {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
}
.ps-navigation-input input::placeholder{
    color: #d4d9e7;
}
.ps-navigation-icon {    
    position: relative;    
    margin-left: 20px;    
    cursor: pointer;
}
.ps-navigation-icon:hover .ps-icon{
    background-color: var(--theme-color);    
    border: 2px solid var(--theme-color);
}
.ps-navigation-icon:hover .ps-icon span svg{
    fill: var(--white-color);
}
.ps-icon {
    background-color: transparent;
    border: 2px solid #dde3f0;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.5s;
}
span.ps-bubble {
    font-size: 10px;
    color: var(--white-color);
    font-weight: 700;
    width: 22px;
    height: 22px;
    background-color: #3ce8b5;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -5px;
}
span.pink-bubble{
    background-color: #ff6695;
}
span.yellow-bubble{
    background-color: #fbd244;
}
.ps-icon span svg {
    height: 18px;
    width: 18px;
    transition: all 0.5s;
}
.ps-icon-parent{
    display: flex;
}
.ps-navigation-main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* navbar fixed css start */
.ps-navigation-wrapper.ps-navbar-fixed{
    position: fixed;
    top: 0;
    z-index: 10;    
    background-color: var(--white-color);
    box-shadow:0 0 20px rgba(99,149,189,0.3);
    width: 100%;
   -webkit-animation: slideInDown 1s;
   -moz-animation: slideInDown 1s;
   -ms-animation: slideInDown 1s;
   -o-animation: slideInDown 1s;
   animation: slideInDown 1s;
   backface-visibility: hidden;
}
/* navbar fixed css end */
/* navigation search css end */
/* banner css start */
.ps-banner-swiper-main-wrapper {
    padding-top: 6rem;
    position: relative;
    z-index: 0;
}
.ps-banner-content h5 {
    font-size: 16px;
    font-weight: 700;
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
    background-color: var(--white-color);
    max-width: 281px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 30px;
}
.ps-banner-content h2{
    font-size: 46px;
    font-weight: 700;
    color: var(--dark-color);
    margin: 40px 0;
    line-height: 1.5;
}
.ps-banner-swiper-main-wrapper .swiper-slide {
    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url('../images/product.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 200px 135px 250px 250px;
}
.swiper-button-prev, .swiper-button-next {
    color: var(--white-color) !important;
    height: 70px !important;
    width: 70px !important;
    background: var(--theme-color) !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
.swiper-button-prev:hover{
    background-color: var(--white-color) !important;
    color: var(--theme-color) !important;
}
.swiper-button-next:hover{
    background-color: var(--white-color) !important;
    color: var(--theme-color) !important;
}
.ps-banner-slider-btn .swiper-button-prev {
    left: 60px;
}
.ps-banner-swiper-main-wrapper .swiper-button-next:after, .swiper-button-prev:after {    
    font-size: 14px !important;
    font-weight: 800;
}
/* banner css end */
/* ad section css start */
.ps-ad-wapper{
    padding: 80px 85px;
}
.ps-ad-box {
    height: 100%;
    position: relative;
    text-align: center;
}
.ps-ad-box > a > img {
    height: 100%;
    object-fit: cover;
}

.ps-ad-box:hover > .ps-overlay {
    opacity: 1;
}

.ps-overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #228b2270;
}

.ps-overlay h5 {
    font-size: 16px;
    font-weight: 400;
    color: var(--dark-color);
    background-color: var(--white-color);
    max-width: 80%;
    width: min(280px, 80%);
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 30px;
}

.ps-overlay h2{
    font-size: clamp(1.75rem, 3vw, 3rem);
    font-weight: 700;
    color: var(--white-color);
    margin-bottom: 20px;
    line-height: 1.5;
}
/* ad section css end */
/* best seller section css start */
.ps-best-seller-main-wrapper {
    padding-bottom: 80px;
}
.ps-best-seller-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 4px double #dde3f0;
    padding-bottom: 25px;
}
.ps-best-seller-heading h4{
    font-size: 28px;
    color: var(--dark-color);
    font-weight: 700;    
}
.ps-best-seller-heading a{
    font-size: 16px;
    text-decoration: underline;
    color: var(--theme-color);
    font-weight: bold;
}
/* product css start */
.ps-product-box{
    margin-top: 50px;
    cursor: pointer;
    border: 1px solid #e8eef6;
    border-radius: 10px;
    height: 90%;
}
.ps-product-img {
    background-color: #f4f9fd;
    width: 100%;
    text-align: center;
    border-radius: 6px;
    position: relative;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ps-product-info {
    cursor: pointer;
    padding: 10px;
}
.ps-product-info span{
  font-size: 15px; 
  color: var(--grey-color); 
  font-weight: 400;
  padding-left: 10px;
}
.ps-product-info h4{
    font-size: 1.35rem;
    color: var(--dark-color);
    font-weight: 700;
    padding: 12px 0;
}
.ps-product-info p{
    font-size: 1.2rem;
    color: var(--theme-color);
    font-weight: 500;
}
.ps-product-info del{
    color: #ff2140;
    font-weight: 700;
    padding-left: 8px;
}
.ps-product-icon {
    transition: all 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
}
.ps-product-box:hover {
    -webkit-box-shadow: 10px 10px 29px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 29px -19px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 29px -19px rgba(0,0,0,0.75);    
    transition: all 1s;
}

.ps-product-box:hover .ps-product-icon {
    opacity: 1;
    visibility: visible;
    transform: translateY(-15px);
}
.ps-product-icon {
    display: flex;
    justify-content: center;
    margin: 0 5px;
}
.ps-product-icon span {
    width: 40px;
    height: 40px;
    background: #1f2732;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.5s;
}
.ps-product-icon span:hover{
    box-shadow: 0 0 0 25px var(--btn-hover-color) inset;
    transform: translateY(-5px); 
}


.ps-product-icon span svg{
    fill: var(--white-color);
    transition: all 0.5s;
}
/* product css end */
/* best seller section css end */
/* brand setion css start */
.ps-brand-main-wrapper{
    padding:80px 0 60px 0;
    background-color: #edf3f6;
}
.ps-brand-logo{
    margin-top: 50px; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;       
}
.ps-brand-logo img{
    margin: 0 auto;
    margin-bottom: 20px;
    transition: all 0.3s;
    width: 250px;
}
.ps-brand-logo img:hover{
    transform: translateX(-5px);
}
/* brand section css end */
/* deal of the week section start */
.ps-deal-main-wrapper .container-fluid {
    padding: 0 85px;
}
.ps-deal-main-wrapper{
    padding: 80px 0;
}
.ps-deal-left-ad {
    margin: 50px 50px 0 0;
    width: 100%;
    max-width: 500px;
}

.ps-deal-left-ad > a > img {
    height: 100%;
    object-fit: contain;
}

.ps-deal-parent {
    display: flex; 
}
.ps-deal-box-parent {
    width: 100%;
}

.ps-deal-box-parent .ps-product-info h4{
    padding: 11px 0;
}
/* deal of the week section end */
/* testimonial slider css start */
.ps-testmonial-slider-wrapper{
    background-color: #edf3f6;
    padding: 80px 0;
}
.ps-testmonial-slider-wrapper .swiper-container {
    padding: 55px 0 70px 0;
}
.ps-testml-slider-heading h4{
    text-align: center;
    font-size: 28px;
    color: var(--dark-color);
    font-weight: 700;
    margin-bottom: 40px;
}
.ps-testm-slider-box {
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 0 20px 25px 20px;
    position: relative;
}
.ps-testm-heading-parent{
    display: flex;
    align-items: center;
    padding: 35px 0 35px 20px;
}
.ps-testm-name{
    margin-left: 20px;
}
.ps-testm-name h4{
    font-size: 18px;
    color: var(--dark-color);
    font-weight: 700;
}
.ps-testm-name p{
    font-size: 15px;
    font-weight: 400;
    color:var(--grey-color);
}
.ps-testm-inner-box{
    background-color: #f6f7fa;
    padding: 30px 24px 30px 18px;
    border-radius: 10px;
    border: 1px solid #e8eef6;
}
.ps-testm-inner-box p{
    font-size: 15px;
    font-weight: 400;
    color: #848ba0;
}
.ps-testm-quote {
    position: absolute;
    right: 40px;
    top: -34px;
}
.ps-testm-quote img{
    filter: drop-shadow(10.382px 7.824px 15px rgba(73,136,251,0.5));
}
.ps-tstm-dot ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.ps-tstm-dot ul li{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #cad7dd;   
    margin: 0 4px; 
}
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    background: var(--theme-color);    
}
/* testimonial slider css end */
/* shop category section css start */
.ps-shop-categry-main-wrapper{
    padding: 80px 0 44px 0;
}
.ps-shop-categry-left h4{
    font-size: 28px;
    color: var(--dark-color);
    font-weight: 700;
}
.ps-shop-categry-left p {
    font-size: 15px;
    color: var(--grey-color);
    font-weight: 400;
    max-width: 310px;
    margin-top: 25px;
    line-height: 1.5;
}
.ps-shop-categry-inner {
    border-radius: 10px;
    filter: drop-shadow(0 0 25px rgba(99,149,189,0.1));
    background-color: var(--white-color);
    margin-bottom: 30px;
    padding: 36px 0 36px 50px;
    display: flex;
    align-items: center;
    transition: all 0.5s;
}
.ps-shop-categry-inner:hover{
    transform: translateY(-10px);
}
.ps-shop-categry-inner p {
    font-size: 18px;
    color: var(--dark-color);
    font-weight: bold;
    padding-left: 20px;
}
.ps-shop-categry-right {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
}
/* shop category section css end */
/* latest news section css start */
.ps-news-main-wrapper{
    padding: 10rem 0;
    background-color: #edf3f6;
}

.ps-news-main-wrapper .ps-testml-slider-heading h4 {
    margin-bottom: 20px;
}
.ps-news-inner{
    text-align: center;
    padding: 10px 10px 20px 10px;
}
.ps-news-box{
    background-color: var(--white-color);
    border-radius: 10px;
    cursor: pointer;    
}
.ps-news-img{
    height: 250px;
    position: relative;
}
.ps-news-img > img {
    height: 100%;
    object-fit: cover;
}
.ps-news-overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    transform: scale(1);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.ps-news-box:hover .ps-news-overlay{
    opacity: 1;
    visibility: visible;
    transform: scale(0);
}
.ps-news-content {
    padding: 0 10px;
}
.ps-news-date-btn div {
    max-width: 140px;
    width: 100%;
    background-color: var(--theme-color);
    display: block;
    padding: 12px 0;
    color: var(--white-color);
    border-radius: 40px;    
    box-shadow: 0px 0px 20px rgba(55,199,235,70%);
    position: absolute;
    right: 20px;
    bottom: -22px;
}
.ps-news-content h4{
    font-size: 18px;
    color: var(--dark-color);
    font-weight: 700;
    text-align: left;
    margin: 40px 0 17px 0;
}
.ps-news-content p {
    font-size: 15px;
    color: var(--grey-color);
    font-weight: 400;
    text-align: left;
    max-width: 310px;
    width: 100%;
}
.ps-news-btn .ps-btn {
    max-width: 120px;
    width: 100%;
    font-size: 14px;
    padding: 12px 0;
    margin-top: 25px;
    box-shadow: 0px 5px 20px rgb(73 136 251 / 50%);
}
/* latest news section css end */
/* partner section start */
.ps-partner-main-wrapper{
    padding: 80px 0;
}
.ps-partner-heading h4{
    margin-bottom: 80px;
}
.ps-partner-main-wrapper .swiper-container{
    text-align: center;
}
.ps-partner-main-wrapper .swiper-container .swiper-wrapper img{
    opacity: 0.5;
    transition: all 0.5s;
    cursor: pointer;
}
.ps-partner-main-wrapper .swiper-container .swiper-wrapper img:hover{
    opacity: 1;
}
/* partner section end */
/* footer section start */
/* .ps-footer-main-wrapper > div{
    max-width: 80%;
    margin: 0 auto;
} */

.ps-footer-main-wrapper{
    padding: 30px 0 0 0;
    background-color: #fff;
    -webkit-box-shadow: 0px -4px 30px -28px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -4px 30px -28px rgba(0,0,0,0.75);
    box-shadow: 0px -4px 30px -28px rgba(0,0,0,0.75);
}
.ps-footer-newsletter-retangle {
    max-width: 970px;
    width: 100%;
    border-radius: 10px;
    background-color: #2a3033;
    margin: 0 auto 60px auto;
    padding: 50px 40px;
}
.ps-footer-newsletter-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}
.ps-footer-newsltr-text{
    z-index: 1;
}
.ps-footer-newsltr-text h4{        
    font-size: 26px;
    color: var(--white-color);
    font-weight: 400;
    line-height: 1.5;
    text-transform: none;    
}  
.ps-footer-newsltr-input {
    max-width: 460px;
    width: 100%;
    position: relative;
}
.ps-footer-newsltr-input input {
    width: 100%;
    border-radius: 40px;
    background-color: var(--white-color);
    padding: 20px 160px 20px 30px;
    border: none;
}
.ps-footer-newsltr-input input::placeholder{
    font-size: 15px;
    color: var(--grey-color);
    font-weight: 400;
}
.ps-footer-newsltr-input .ps-btn {
    max-width: 130px;
    width: 100%;
    border-radius: 40px;
    background-color: var(--theme-color);
    color: var(--white-color);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    right: 7px;
    top: 7px;
    cursor: pointer;
}
.footer-newsltr-icon{
    position: absolute;    
    left: 60px;
    z-index: 0;
}
.ps-footer-link h4{
    font-size: 22px;
    color: var(--dark-color);
    font-weight: 700;
    margin-bottom: 1.2rem;    
}
.ps-footer-link ul{
    list-style: disc;
    margin-left: 20px;
}
.ps-footer-link ul li {
    margin-bottom: 1rem;    
}
.ps-footer-link ul li::marker{
    font-size: 18px;
    color: #9ca9af;
}
.ps-footer-link ul li a{
    font-size: 15px;
    color: #515151;
    font-weight: 400;
    padding-bottom: 30px;
    transition: all 0.5s;
}
.ps-footer-link ul li a:hover{
    color: var(--white-color);
}
.ps-footer-addres{
    display: flex;
    align-items: baseline;
    margin-bottom: 40px;
}
.ps-footer-addres span{
    font-size: 15px;
    color: #9ca9af;    
}
.ps-footer-addres p{
    font-size: 15px;
    color: #515151;
    font-weight: 400;
    display: inline-block;
    padding-left: 20px;
}
.ps-footer-logo {
    width: 100%;
    max-width: 600px;
    margin-top: 1rem;
    min-width: 300px;
}
/* footer section end */
/* copyright section css start */
.ps-copyright-wrapper p{
    background-color: #2a3033;
    font-size: 15px;
    color: #9ca9af;
    font-weight: 400;
    padding: 15px 0;
    text-align: center;
}
.ps-copyright-wrapper a{
    color: var(--white-color);
}
/* copyright section css end */
/* bottom to top css */
.ps_top_icon a {
    display: flex;
    background-color: var(--theme-color);
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    position: fixed;
    bottom: 30px;
    right: 20px;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
	animation: 5s installation infinite alternate;
}
@keyframes installation {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
}
.ps_top_icon a svg {
    fill: #ffffff;
    transform: rotate(270deg);
}
.ps_top_icon a:hover {
  cursor: pointer;
  box-shadow: 0 0 0 25px var(--btn-hover-color) inset;
}
.ps_top_icon a:active {
  background-color: #555;
}
.ps_top_icon a.show {
  opacity: 1;
  visibility: visible;
}
/* bottom to top css end */
/* loader css start */
.loader {
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.loader img {
	width: 80px;
}
/* loader css start end */

/* Shop css start*/
.shop-products-main-wrapper {
    padding-block: 10rem;
}
.header-title h2{
    text-align: center;
    font-size: 42px;
    color: var(--dark-color);
    font-weight: 700;
    margin-bottom: 5rem;
}

.shop-title {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    border: 1px solid #d4f0ff;
    border-radius: 3px;
    margin: 0 15px 35px;
}
.shop-title > p > span {
    color: var(--theme-color);
    font-weight: 700;
    font-weight: 700;
}

.shop-sidebar-title {
    font-size: 25px;
    font-weight: 700;
    color: var(--theme-color);
    text-transform: capitalize;
}

.shop-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 10px;
}

.shop-product-box {
    border: 1px solid #d4f0ff;
    border-radius: 8px;
}

.shop-product-image {
    background-color: #f4f9fd;
    width: 100%;
    text-align: center;
    border-radius: 6px;
    position: relative;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-product-data {
    padding: 10%;
}

.shop-product-data > h3 {
    color: var(--dark-color);
    font-size: 1.5rem;
}

.shop-product-data > h5 {
    color: var(--theme-color);
}

.shop-product-search {
    margin-bottom: 30px;
}

.shop-product-search > form {
    display: flex;
}

.shop-product-search > form > input {
    border-radius: 30px 0px 0px 30px;
    width: 100%;
    height: 50px;
    border: 1px solid #d4f0ff;
    padding: 0 20px;
    outline: none;
}

.shop-product-search > form > button {
    border-radius: 0px 30px 30px 0px;
    display: inline-block;
    min-width: 120px;
    height: 50px;
    line-height: 50px;
    background: var(--theme-color);
    color: var(--white-color);
    text-transform: capitalize;
    outline: none;
    padding: 0 20px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    border: none;
    transition: 0.3s;
}

.shop-brands {
    margin: 0;
    padding: 0;
}

.shop-brand {
    align-items: center;
    color: var(--dark-color);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    position: relative;
    text-transform: capitalize;
}

.shop-brand > span {
    background: var(--theme-color);
    min-width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
}

.shop-form-range::-webkit-slider-thumb {
    background: var(--theme-color);
}

.shop-form-range::-moz-range-thumb {
    background:var(--theme-color);
}

.shop-form-range::-ms-thumb {
    background: var(--theme-color);
}

.shop-product-range-filter {
    position: relative;
    margin: 0 auto 3rem;
  }
  .shop-product-range-filter > input {
    width: 100%;
  }
  
  #price-bubble {
    background:var(--theme-color);
    color: white;
    padding: 4px 12px;
    position: absolute;
    border-radius: 4px;
    left: 100%;
    bottom: -25px;
    transform: translateX(-50%);
  }


  .shop-product-category-filter ul li {
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
  }

  .shop-product-category-filter ul li::after {
    position: absolute;
    content: '';
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    top: 0px;
    bottom: 0;
    margin: auto 0 auto 8px;
    border-top: 1.5px solid var(--theme-color);
    border-right: 1.5px solid var(--theme-color);
    right: 0;
  }
  .active-brand,
  .active-category {
    color: var(--theme-color);
  }
  /* Shop css end*/


/*Service css start*/
.service-main-wrapper {
    padding-block: 11rem;
    background-color: #edf3f6;
    display: flex;
}
.service-container {
    max-width: min(1600px, 80%);
    margin: 0 auto;
}

.service-title {
    color: var(--theme-color);
    font-size: 3.5rem
}

.service-description {
    color: var(--dark-color);
    font-size: clamp(1rem, 3vw, 1.5rem);
    max-width: 90%;
}

.service-form {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
    background: #fff;
    border-radius: 10px;
    padding: 34px 40px 40px;
    max-height: 600px;
}

.service-form-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--theme-color);
    margin-bottom: 24px;
    text-transform: capitalize;
}

.service-form  input {
    width: 100%;
    height: 50px;
    border: 1px solid var(--theme-color);
    padding: 0 20px;
    border-radius: 30px;
    margin-bottom: 15px;
    outline: none;
}

.service-form textarea {
    width: 100%;
    height: 150px;
    border: 1px solid var(--theme-color);
    padding: 10px 20px;
    border-radius: 10px;
    resize: none;
}

.service-form button {
    display: inline-block;
    min-width: 160px;
    height: 50px;
    line-height: 50px;
    background: var(--theme-color);
    color: #fff;
    text-transform: capitalize;
    outline: none;
    padding: 0 20px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    border: none;
    border-radius: 30px;
    transition: 0.3s;
    margin-top: 25px;
}
/*Service css end*/

/*contact css end*/

.contact-detail-wrapper {
    padding-block: 10rem;
}

.contact-detail {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
    background: #fff;
    border-radius: 10px;
    padding: 34px 40px 40px;

}

.contact-sidebar-title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--theme-color);
    margin-bottom: 24px;
    text-transform: capitalize;
}

.contact-detail > p {
    margin-bottom: 22px;
    line-height: 25px;
    color: var(--dark-color);
}

.contact-detail > ul > li {
    margin-bottom: 28px;
    display: flex;
    border-bottom: 1px solid #d4f0ff;
    padding-bottom: 28px;
}

.contact-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: var(--theme-color);
    border-radius: 10px;
}
.contact-icon > i::before {
    color: var(--bg-color);
}
.contact-text {
    width: calc(100% - 50px);
    padding-left: 20px;
}

.contact-text h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 60%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
/*contact css end*/



/* pagination css*/
.pagination-container {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    background: #fff;
    border-radius: 10px;
    display: inline-block;
    padding: 15px;
    width: auto;
}

.pagination-container ul li {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 27px;
    border-radius: 3px;
    position: relative;
}

.cv-page-active {
    background: var(--theme-color);
    color: #fff;
}

/* pagination css*/


/* news details css*/
.news-detail-main-wrapper {
    padding-block: 10rem;
    display: flex;
    background-color: #e8eef6;
}

.news-detail-container {
    background-color: var(--white-color);
    border-radius: 10px;
    cursor: pointer;
}

.news-details-img > img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.news-details-content h4{
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    color: var(--dark-color);
    font-weight: 700;
    margin-inline: 20%;
    margin-block: 40px;
    text-align: center;
}

.news-detail-container p {
    font-size: clamp(1.25rem, 2vw, 2rem);
    color: var(--grey-color);
    font-weight: 400;
    text-align: left;
    max-width: 80%;
    width: 100%;
    margin: auto
}

.news-detail-date { 
    position: relative;
}

.news-detail-date > div {
    max-width: 140px;
    width: 100%;
    background-color: var(--theme-color);
    display: block;
    padding: 15px;
    color: var(--white-color);
    border-radius: 40px;
    box-shadow: 0px 0px 20px rgba(55, 199, 235, 70%);
    position: absolute;
    right: 20px;
    bottom: -22px;
}
/* news details css*/

.product-details-image {
    background-color: #f6f7fa;
    margin-top: 6rem;
}

.product-details-image > img {
    width: 100%;
    height: auto;
}

.product-detail-data h5 {
    font-size: clamp(1rem, 2vw, 1.75rem);
    color: var(--grey-color);
    font-weight: 700;
    margin-block: 40px;
    text-align: right;
    margin-inline-end: 10px;
}


.product-detail-data h4 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    color: var(--dark-color);
    font-weight: 700;
    margin-inline: auto;
    margin-block: 40px;
    max-width: 80%;
}

.product-detail-data p {
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    color: var(--dark-color);
    font-weight: 400;
    max-width: 80%;
    width: 100%;
    margin: auto
}

.product-detail-data {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--white-color);
    padding-block: 3rem;
}

.product-details-container {
    border-bottom: 2px solid #f6f7fa;
    border-radius: 10px;
    padding-inline: 12px;
}

/* product details css*/

